certifi==2017.4.17
chardet==3.0.4
click==6.7
ConceptNet==5.5.4
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.6
en-core-web-sm==1.2.0
ftfy==4.4.3
html5lib==0.999999999
idna==2.5
langcodes==1.4.0
marisa-trie==0.7.4
msgpack-python==0.4.8
murmurhash==0.26.4
nltk==3.4.5
numpy==1.13.0
ordered-set==2.0.2
pathlib==1.0.1
pg8000==1.10.6
plac==0.9.6
preshed==1.0.0
pywsd==1.0.4
regex==2017.4.5
requests==2.17.3
scipy==0.19.0
six==1.10.0
snakemake==3.12.0
spacy==1.8.2
termcolor==1.1.0
thinc==6.5.2
toolz==0.8.2
tqdm==4.14.0
ujson==1.35
urllib3==1.21.1
wcwidth==0.1.7
webencodings==0.5.1
wordfreq==1.6.1
wrapt==1.10.10
xmltodict==0.11.0
